@font-face {
    font-family: APL;
    src: local("APL385 Unicode"), url("apl385.ttf");
}

/* Normalize CSS */
html {
    font-size: 12px; /* Base font size */
}

.text {
    font-size: 8pt;
}

body {
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    font-size: 10pt;
    margin-left: 6pt;
}

/* Page break rules */
.no-break {
    page-break-inside: avoid;
}

table, pre {
    page-break-inside: avoid;
}

.no-break-after, .example {
  page-break-after: avoid;
}

.language-APL {
    font-family: APL !important;
    line-height: 1.2em !important;
}

code, .command {
    font-family: APL;
}

.md-logo>img {
    width: 7rem !important;
    height: 1.2rem !important;
}

@media screen and (max-width: 76.1875em) {
    .md-logo>img {
        width: 10rem !important;
        height: 1.8rem !important;
    }
}

/* Custom colors */
:root {
    --md-primary-fg-color: #ED7F00;
    --md-primary-fg-color--dark: #563336;
    --md-default-bg-color: #F8F8F8;
}

/* Reduce vertical table spacing, and put in a faint cell border */
table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #eee;
    padding: 4px !important;
    text-align: left;
}

/* Style the heading container for the Language Reference */
.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d9d9d9;
    border: solid 1px #000000;
    font-size: 14pt;
    padding-left: 5pt;
}

.name {
    flex-grow: 1;
    color: black;
}

.command {
    text-align: right;
    color: black;
    font-family: APL;
}

/* Compress lists a bit vertically */
li {
    margin-bottom: 0px !important;
}

/* Adjust margin and padding for pre and code elements */
pre+pre>button,
pre+hr {
    display: none !important;
}

pre>code {
    padding-bottom: 1em !important;
}

hr+pre>button {
    top: -0.2em !important;
}

pre+pre,
hr+pre {
    margin-top: -1.8em !important;
}

pre+pre>code,
hr+pre>code {
    padding-top: 0.2em !important;
}

.table-bordered {
    border-collapse: collapse;
    width: 50%;
    margin: auto;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid black;
    padding: 5px;
}

.table-bordered th.no-border,
.table-bordered td.no-border {
    border: none;
}

.table-bordered th {
    text-align: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.flex-between span {
    flex: 1;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/*span.footnote {
    font-size: smaller;
    color: #555;
    margin-left: 5px;
}
*/

span.footnote {
   float: footnote;
   font-size: smaller;
}

.footnote::footnote-call {
   content: counter(footnote, decimal) " ";
   vertical-align: super;
   font-size: smaller;
}

.footnote::footnote-marker {
   content: counter(footnote, decimal);
   font-size: smaller;
   display: inline-block;
   width: 2em;
   padding-right: 1em;
   text-align: right;
}

hr {
    border: none;
    height: 1px;
    background-color: #dcdcdc;
    box-shadow: none;
}

/* Main admonition container: warning */
div.admonition.warning {
    border: 1px solid #FF8600;
    border-radius: 5px;
    background-color: transparent;
    padding: 0;
    margin: 20px 0;
    margin-left: 2%;
    margin-right: 2%;
    color: inherit;
    width: 96%;
}

div.admonition.warning .admonition-title {
    margin: 0;
    background-color: #F8EADA;
    color: #000000;
    padding: 5px 20px;
    border-radius: 5px 5px 0 0;
    font-weight: bold;
}

div.admonition.warning p:not(.admonition-title) {
    margin: 0;
    padding: 10px 20px;
    line-height: 1.6;
    background-color: transparent;
}

/* Main admonition container: note */
div.admonition.note {
    border: 1px solid #0D47A1;
    border-radius: 5px;
    background-color: transparent;
    padding: 0;
    margin: 20px 0;
    margin-left: 2%;
    margin-right: 2%;
    color: inherit;
    width: 96%;
}

div.admonition.note .admonition-title {
    margin: 0;
    background-color: #E3F2FD;
    color: #000000;
    padding: 5px 20px;
    border-radius: 5px 5px 0 0;
    font-weight: bold;
}

div.admonition.note p:not(.admonition-title) {
    margin: 0;
    padding: 10px 20px;
    line-height: 1.6;
    background-color: transparent;
}

/* Collapsible blocks */
details {
    display: block;
    border: 2px solid transparent;
    border-radius: 8px;
}

details[open] {
    border-color: #add8e6;
}

details > summary {
    display: block;
    cursor: pointer;
    background-color: #e0f2fd;
    padding: 0.5em 1em;
    border-radius: 8px;
    margin: -2px;
}

details[open] > summary {
    border-radius: 8px 8px 0 0;
}

details > summary:focus {
    outline: none;
}

details > summary::before {
    content: "\25B6";
    padding-right: 0.5em;
    font-size: 1.2em;
}

details[open] > summary::before {
    content: "\25BC";
}

details > summary::-webkit-details-marker {
    display: none;
}

/* CSS for browsers that do not support <details> */
details.no-details:not([open]) > * {
    display: none;
}

details.no-details:not([open]) > summary {
    display: block;
}

.shaded {
    background-color: rgb(220, 220, 220);
}

/* Page rules and content */
@page {
    @bottom-center {
        content: "Page " counter(page) " of " counter(pages);
        font-size: 12px;
        color: #000;
    }
    @top-left {
        content: counter(page);
        height: 1cm;
        text-align: center;
        width: 1cm;
    }
    @top-center {
        background: black;
        content: '';
        display: block;
        height: 1px;
        width: 100%;
    }

    @top-right {
        content: string(heading);
        font-size: 12pt;
        height: 1cm;
        vertical-align: middle;
        width: 100%;
    }
    margin: 1in;
}

@page :blank {
    @bottom-center {
        content: none;
    }
    @top-left {
        background: none;
        content: '';
    }
    @top-center {
        content: none;
    }
    @top-right {
        content: none;
    }
}

@page no-chapter {
    @bottom-center {
        content: none;
    }
    @top-left {
        background: none;
        content: none;
    }
    @top-center {
        content: none;
    }
    @top-right {
        content: none;
    }
}

@page chapter {
    background: #fbc847;
    margin: 0;
    @top-left {
        content: none;
    }
    @top-center {
        content: none;
    }
    @top-right {
        content: none;
    }
}

@page {
   counter-reset: footnote 0;
}

@page {
   @footnote {
       border-top: dashed red 1px;
   }
}

/* Apply string-set to the parent container or the specific span. This is
   so that the top-right rendering of the article name doesn't show the
   actual command syntax, which looks messy in the header.
*/
.heading .name {
    string-set: heading content();
}

h1 {
    color: black;
    font-size: 24pt;
    page: no-chapter;
    width: 100%;
}

h2, h3, h4 {
    color: black;
    font-weight: 400;
}

h2 {
    /*break-before: always;*/
    font-size: 28pt;
    string-set: heading content();
}

h3 {
    font-weight: 300;
    font-size: 15pt;
}

h4 {
    font-size: 13pt;
}

code, pre {
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow: auto;
}


/* Code highlighter: https://raw.githubusercontent.com/richleland/pygments-css/master/default.css */
.highlight .hll { background-color: #ffffcc }
.highlight  { background: #f8f8f8; }
.highlight .c { color: #408080; font-style: italic } /* Comment */
/*.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #008000; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #BC7A00 } /* Comment.Preproc */
.highlight .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
.highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
/* .highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #008000 } /* Keyword.Pseudo */
.highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #B00040 } /* Keyword.Type */
.highlight .m { color: #666666 } /* Literal.Number */
.highlight .s { color: #BA2121 } /* Literal.String */
.highlight .na { color: #7D9029 } /* Name.Attribute */
.highlight .nb { color: #008000 } /* Name.Builtin */
.highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.highlight .no { color: #880000 } /* Name.Constant */
.highlight .nd { color: #AA22FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #0000FF } /* Name.Function */
.highlight .nl { color: #A0A000 } /* Name.Label */
.highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #19177C } /* Name.Variable */
.highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb { color: #666666 } /* Literal.Number.Bin */
.highlight .mf { color: #666666 } /* Literal.Number.Float */
.highlight .mh { color: #666666 } /* Literal.Number.Hex */
.highlight .mi { color: #666666 } /* Literal.Number.Integer */
.highlight .mo { color: #666666 } /* Literal.Number.Oct */
.highlight .sa { color: #BA2121 } /* Literal.String.Affix */
.highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
.highlight .sc { color: #BA2121 } /* Literal.String.Char */
.highlight .dl { color: #BA2121 } /* Literal.String.Delimiter */
.highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #BA2121 } /* Literal.String.Double */
.highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: #008000 } /* Literal.String.Other */
.highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight .s1 { color: #BA2121 } /* Literal.String.Single */
.highlight .ss { color: #19177C } /* Literal.String.Symbol */
.highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #0000FF } /* Name.Function.Magic */
.highlight .vc { color: #19177C } /* Name.Variable.Class */
.highlight .vg { color: #19177C } /* Name.Variable.Global */
.highlight .vi { color: #19177C } /* Name.Variable.Instance */
.highlight .vm { color: #19177C } /* Name.Variable.Magic */
.highlight .il { color: #666666 } /* Literal.Number.Integer.Long */

/* Styling the TOC container */
#contents {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    break-before: right;
    break-after: left;
    page: no-chapter;
}

/* TOC header */
#contents h2 {
    font-size: 18pt; /* Slightly smaller font size for the header */
    font-weight: 400;
    margin-bottom: 2cm; /* Slightly reduced margin */
}

/* TOC list */
#contents ul {
    list-style: none;
    padding-left: 10px;
}

/* General TOC list items */
#contents ul li {
    margin: 0.15cm 0; /* Reduced margin for tighter spacing */
    font-size: 0.9em; /* Slightly smaller font size */
}

/* Nested TOC list items */
#contents ul ul {
    margin-left: 20px;
    padding-left: 10px;
}

/* First-level nested TOC list */
#contents > ul > li > ul {
    margin-left: 0;
    padding-left: 0;
}

/* TOC links */
#contents a {
    text-decoration: none;
    color: inherit;
}

#contents a:hover {
    text-decoration: underline;
}

/* TOC page numbers */
#contents .page-number {
    float: right;
    color: #000;
}

/* Page number display for TOC links */
#contents ul li a::after {
    color: #000;
    content: target-counter(attr(href), page);
    float: right;
}
