@font-face {
    font-family: 'Be Vietnam Pro', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}

:root {
    --md-text-font: "Be Vietnam Pro";
}

.example-block {
    page-break-inside: avoid;
}

.table-bordered {
    border-collapse: collapse;
    width: 85%;
    margin: auto;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid black;
    padding: 5px;
}

.table-bordered th.no-border,
.table-bordered td.no-border {
    border: none;
}

.table-bordered th {
    text-align: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.flex-between span {
    flex: 1;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.md-typeset code {
    word-break: normal !important;
    overflow-wrap: break-word !important;
}

.shaded {
    background-color: rgb(220, 220, 220);
    /* Light grey background */
}

.md-content code {
    padding: 0;
}

.toolbar-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url('/img/trace-theme-sprite-16.png');
    background-repeat: no-repeat;
    vertical-align: middle;
}